<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Users and Interests</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>There are <%= @number_of_users %> users with a total of <%= count_interests %> interests.</p>
    </footer>
  </body>
</html>
